{% extends 'core/base.html' %}
{% block title %}Adicionar Token{% endblock %}
{% block content %}

<h4>Adicionar Token a um Usuário Existente</h4>

<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {{ form.email.label_tag }}
    {{ form.email }}
    {% for error in form.email.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="mb-3">
    {{ form.senha.label_tag }}
    {{ form.senha }}
    {% for error in form.senha.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>

  <div class="mb-3">
    {{ form.token.label_tag }}
    {{ form.token }}
    {% for error in form.token.errors %}
      <div class="text-danger">{{ error }}</div>
    {% endfor %}
  </div>

  <button type="submit" class="btn btn-primary">Adicionar Token</button>
</form>

{% endblock %}
